<hr>
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      <input type="text" class="form-control" placeholder="Buscare Empleado" ng-model="buscar.materno">
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          <a href="" ng-click="ordenarPor('nombre')">
            Nombre/s
          </a>
          <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-nombre')"></span>
        </th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Primer dia de trabajo</th>
        <th>Telefono</th>
        <th>Salario</th>
        <th>Bono</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="empleado in empleados | orderBy:ordenSeleccionado | filter:buscar">
        <td>{{empleado.nombre}}</td>
        <td>{{empleado.paterno | uppercase}}</td>
        <td>{{empleado.materno | lowercase}}</td>
        <td>{{empleado.primerDia | date:'fullDate'}} a las {{empleado.primerDia | date:'h:mma'}}</td>
        <td>{{empleado.telefono}}</td>
        <td>{{empleado.salario | currency}}</td>
        <td>% {{empleado.bono | number:2}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>